<% @page_title = "All Services"%>

<%= javascript_include_tag "jquery-1.2.3.min.js" %>
<%= javascript_include_tag "jquery-1.8.0.min.js" %>
<%= javascript_include_tag "jquery-ui-1.8.23.custom.min.js" %>
<div id="all_services">	
<div id="accordian">
				
	<h3><a href="#">Software Services </a></h3>
	<div>
			<p>ISCube helps clients stay ahead of the rapidly changing business and technology landscape with a wide range of customized software application development services.  </p>
			<p>We understand your business objectives and requirements. We collaborate to find solutions and then translate them into project requirements using technology, our experience and expertise. </p>
			
			<p>Our custom software application development services cover a broad spectrum of technology areas </p>
			<ul type="square">
				
			<li><p>Inception to implementation for all software applications </p></li>
			
			<li><p>Legacy and other technologies </p></li>
			
			<li><p>B2B and B2C solutions </p></li>
			
			<li><p>E-Commerce solutions </p></li>
			
			<li><p>Client Server Applications </p></li>
			
			</ul>
	</div>
	
		
	<h3><a href="#">Security Services</a></h3>
	<div>
			<p>Our consulting group has over 10 years of experience in the fields of information security providing discreet and confidential information security services. We provide expert information security advice and guidance to a wide range of clients ensuring their information is secure.</p> 
	</div>
	


	<h3><a href="#">Policy Management &amp; Enforcement </a></h3>
	<div>
			<p>We provide easy-to-read, clear and concise Information Security Policies that reduce corporate risk of financial and data loss or damage from human actions. </p><p>An Information Security Policy document leads to detail procedure document wherein step by step and logical description of procedures that need to be followed to comply with specific policy are written</p>
    </div>
	
	
	
	<h3><a href="#">Information Risk &amp; Vulnerability</a></h3>
	<div>
			<p>
			No information security strategy is complete without providing the ability for an organization to perform vulnerability assessments and risk management.</p>
			<p>
			We at ISCube have extensive experience in these critical areas, and provide services to help you manage risk in a cost-effective and tangible manner. We provide a Risk Assessment Report that is concise, clear including Risk Treatment Plan.</p>
	</div>
	
	
	<h3><a href="#">ISO 27001 (ISMS)</a></h3>
	<div>
			<p>
			ISO 27001 being the implementation standard against which certification is achieved, we provide services that include...</p>
			<ul type="square">
			<li><p>
			Gap Analysis  Addressing your information security management system against the requirements of ISO 27001 standard providing a plan to achieve compliance.</p></li>
			<li><p>
			Risk Assessment  Developing asset registers and security risk assessment leading to Statement of Applicability (SoA), a key requirement of ISO 27001 standard.</p></li>
			<li><p>
			Policies &amp; Procedures  The authoring of policies and procedures that reflect business practices.</p></li>
			<li><p>
			Security Awareness and Training  Providing security awareness materials and courses as well as delivering tailored training for security roles.</p></li>
			<li><p>
			Audit   Undertaking audits against ISO 27001 and developing, mentoring and training internal audit team.
		</p></li>
	       </ul>
	</div>

	<h3><a href="#">Information System Audit</a></h3>
	<div>
			<p>
			We provide a comprehensive service to review security risks, procedures and system implementation against legislative, regulatory and business requirements to confirm that controls are effective and appropriate. Our services cover all aspects of IS auditing including</p>
			<ul type="square">
				<li>
			<p>
			IT Governance and Compliance</p></li>
			<li><p>
			Risk Assessment &amp; IT Controls</p></li>
			<li><p>
			Business Continuity and Disaster Recovery</p></li>
			<li><p>
			Physical Environment</p></li>
			<li><p>
			Personnel &amp; HR Procedure</p></li>
		</ul>
	</div>	
	
	
			
</div>
</div> 
</div> 
	
	
		